
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    max-width: 1600px;
}
.btn_primary{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #006A50;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.container{
    width: 80%;

}
/* ------ start header section -------- */
header{
    overflow: hidden;
}
/* ------- start nav section ------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.nav_title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.nav_input .nav_btn{
    background-color: #006a5000;
    color: #006A50;
    border: 1px solid #006A50;
}
/* -------- end nav section ------- */
/* -------- start nav banner ------ */
.nav_banner{
    margin: auto;
    padding-bottom: 60px;
   
}
.nav_hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 80px 50px;
    border-radius: 10px;
}
.banner_text{
    width: 60%;
}
.banner_text h5{
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e88;
}
.banner_text h1{
    font-size: 50px;
    font-weight: 700;
    color: #0E0E0E;
    padding: 20px 0px;
}
.banner_title{}
.banner_pic img{
    width: 100%;
}

/* -------- emd nav banner ------ */
/* -------- start main section ------ */
/* -------- start main top section ------ */
.main_top_section{
    margin: 0 auto;
    margin-bottom: 60px;
}
.section_heading{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.main_top_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.top_box{
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
    border-radius: 6px;
}
.top_box img{
    margin-bottom: 20px;
}
.sub_title{
    font-size: 20px;
    font-weight: 700;
    color: #0e0e0ee0;
    margin-bottom: 12px;
}
.section_description{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ea2;
}

/* -------- emd main top section ------ */

/* -------- start future section ------ */
/* -------- start future top section ------ */
.future_section{
    margin: 0 auto;
    margin-bottom: 60px;
}
.future_top_img{
    margin: 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.future_box{
    padding: 32px;
    border-radius: 8px;
}
.future_box p{
    margin-bottom: 24px;
}
.future_box img{
    margin-bottom: 24px;
}
.future_box_left{
    background-color: #548ff53a;
}
.future_box_left button{
    background-color: #5490F5;
}
.futuer_box_middle{
    background-color: #C6E4D6;
}
.futuer_box_middle button{
    background-color: #09A15C;
}
.future_box_right{
    background-color: #F7EBCF;
}
.future_box_right button{
    background-color: #FFC239;
}
/* -------- end future top section ------ */
/* -------- start future bottom section ------ */
.future_bottom_img{
    padding: 24px;
    position: absolute;
}
.futuerd_bottom_content{
    padding: 48px 24px;
    position: relative;
}
.futuerd_bottom_content h4{
    margin-top: 12px;
    margin-bottom: 0px;
}
/* -------- end future bottom section ------ */
/* -------- emd main section ------ */